nav {
    display: flex;
    justify-content: space-between;
    pading: 1rem;
    border-bottom: 1px solid #777;
}

.brand, .links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand h2 {
    transition: .4s;
}

.brand:hover > h2{
    color: #DEC129;
}

.links li {
    margin-right: 1rem;
    list-style: none;
}

.links a {
    padding: .1rem .3rem;

}

#add a {
    color: #DEC129;
}

#add a:hover {
    background-color: #EFEFEF;
}